{% extends 'admin/layout.html.twig' %}

{% block body %}


    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Admin</li>
            <li class="breadcrumb-item active">Posts</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                {% include 'includes/messages.html.twig' %}

                <div class="card">
                    <div class="card-header">
                        <i class="cui-list"></i> Listar</div>
                    <div class="card-body">
                        <div class="row">
                            <a class="btn btn-success" href="{{ path('admin_post_new') }}">cadastrar</a>
                        </div>
                        <br>
                        <div class="row">
                            <table class="table table-responsive-sm table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Título</th>
                                    <th>Descrição</th>
                                    <th>Criado em</th>
                                    <th>Alterado em</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td>{{ post.id }}</td>
                                        <td>{{ post.title }}</td>
                                        <td>{{ post.description }}</td>
                                        <td>{{ post.createdAt|date('d/m/Y H:i:s') }}</td>
                                        <td>{{ post.updatedAt|date('d/m/Y H:i:s') }}</td>
                                        <td>
                                            <div class="row ">
                                                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                                                    <a class="btn btn-primary" href="{{ path('admin_post_update', { 'id': post.id }) }}">editar</a>
                                                </div>
                                                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                                                    <a class="btn btn-danger" href="{{ path('admin_post_delete', { 'id': post.id }) }}">excluir</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
